body {
  background-color: rgba(41, 45, 49, 1);
}
header {
  max-width: 1440px;
  width: 75%;
  height: 80px;
  display: flex;
  background-color: rgba(46, 51, 56, 1);
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  margin-left: 3.65%;
  margin-top: 27px;
  padding-left: 69px;
  padding-right: 69px;
}

.header-ul {
  display: flex;
}

.header-ul li {
  margin-right: 40.14px;
}
.header-ul li:last-child {
  margin-right: 0px;
}
.header-ul li a {
  display: flex;
  align-items: center;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
  color: rgba(249, 249, 249, 1);
  font-size: 13px;
  line-height: 13.98px;
}
.header-ul li a span {
  padding-top: 6px;
}
.header-ul li:last-child a {
  color: rgba(57, 158, 225, 1);
  text-transform: uppercase;
}

.header-ul li a img {
  margin-right: 9.62px;
}
