body {
  background-color: rgba(41, 45, 49, 1);
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

/* header */
header {
  max-width: 1440px;
  width: 75%;
  height: 80px;
  display: flex;
  background-color: rgba(46, 51, 56, 1);
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  margin-left: 3.65%;
  margin-top: 27px;
  padding-left: 69px;
  padding-right: 69px;
}

.header-ul {
  display: flex;
}

.header-ul li {
  margin-right: 40.14px;
}
.header-ul li:last-child {
  margin-right: 0px;
}
.header-ul li a {
  display: flex;
  align-items: center;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
  color: rgba(249, 249, 249, 1);
  font-size: 13px;
  line-height: 13.98px;
}
.header-ul li a span {
  padding-top: 6px;
  display: inline-block;
}
.header-ul li:last-child a {
  color: rgba(57, 158, 225, 1);
  text-transform: uppercase;
}

.header-ul li a img {
  margin-right: 9.62px;
}

/* header */

/* footer */

footer {
  color: #e2b62d;
  display: flex;
  max-width: 1440px;
  width: 75%;
  background-color: rgba(46, 51, 56, 1);
  margin-left: 3.65%;
  margin-top: 27px;
  border-radius: 15px;

  justify-content: center;
  font-family: "BPG Mrgvlovani Caps", sans-serif;

  font-size: 13px;
  /* padding-top: 75.2px; */
  align-items: center;
  height: 328px;
}

.footer-item {
  max-width: 343px;
  width: 30%;
  height: 175px;
  margin-left: 5.4%;
  /* display:flex;
  flex-direction: column;
  justify-content: center; */
  /* background-color: antiquewhite; */
}

.footer-item:first-child {
  text-align: center;
  margin-left: 0px;
}

.footer-item:first-child p {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 23px;
}

.division-line::before {
  content: "";
  display: block;
  max-width: 343px;
  width: 100%;
  height: 1px;
  background-color: #e2b62d;
  margin: 32px 0px;
}

.footer-header {
  display: flex;
  align-items: center;
}
.footer-header h3 {
  margin-left: 11.47px;
  padding-top: 7px;
}
.footer-item p {
  line-height: 23px;
}
.footer-item a {
  color: #e2b62d;
}

a.whatsapp {
  color: #3cac5e;

  /* font-size: 13px; */
}
a.whatsapp i {
  font-size: 31px;
  transform: translatey(5px);
}

[href="tel:+995571992463"] {
  display: inline-block;
  max-width: 182px;
  text-align: center;
  width: 50%;
  padding: 11px 0px;
  padding-top: 12px;
  border: 1px solid #6c633e;
  border-radius: 4px;
  margin-right: 27.99px;
}

.footer-mail,
.footer-location {
  /* display: flex;
    justify-content: center; */
  align-items: center;
  border: 1px solid #6c633e;
  max-width: 300px;
  width: 90%;
  height: 55px;
  border-radius: 13px;
  margin-top: 23.52px;
}
.whatsapp {
  white-space: nowrap;
}
.footer-mail a,
.footer-location a {
  display: inline-block;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-mail img,
.footer-location img {
  transform: translatex(-100%);
  /* margin-left: 33px; */
}
/* .footer-location a{

    transform: translatey(17%);
    
} */

div.footer-item:last-child .division-line::before,
div.footer-item:nth-child(2) .division-line::before {
  margin: 16px 0px;

  background-color: #6c633e;
}

.footerLogo a {
  background-image: url("../img/footerLogo.svg");
  max-width: 337px;
  width: 100%;
  height: 65.68px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
/* footer */

/* main */

main {
  max-width: 1440px;
  width: 75%;
  margin-left: 3.65%;
  margin-top: 27px;
  background-color: rgba(46, 51, 56, 1);
  border-radius: 15px;
  padding-bottom: 190px;
}
div.main-content {
  padding-left: 69px;
  padding-right: 69px;
}
.main-header-baner {
  background-image: url("../img/mobileCover.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 209px;
  margin-bottom: 80px;
}
.first-line h2 {
  text-transform: uppercase;
  color: #f8c629;
  font-size: 22px;
  line-height: 13.98px;
  margin-bottom: 7px;
}

.main-nav {
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav a {
  color: #ffffff;
  font-size: 13px;
  line-height: 13.98px;
  display: inline-block;
  vertical-align: middle;
}

.main-nav a::before {
  content: " \003E";
  display: inline-block;
  margin-right: 7.66px;
  vertical-align: middle;
  width: 7.19px;
}


/* main-items */

.main-items{
    margin-top: 26.28px;
}
.main-items ul {
     display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   

}

.main-items ul li{
    max-width: 300px;
    width:23% ;
    background-color:  #FFFFFF ;
    text-align: center;
    padding: 0px 5px;
    border-radius: 15px;
    

}

.main-items ul li h3{
    font-size: 15px ;
    color: #393F47;
    line-height: 19px;
    margin-bottom: 11.75px;
    font-weight: 900;
}

.main-items ul li p{
    font-size: 15px ;
    color: #393F47;
    line-height: 20px;
    margin-bottom: 27.66px;
    
}
.main-items ul li span{
    color: #393F47;
    font-size: 18px;
    line-height: 21px;
    display: block;
   
    margin-bottom: 22.61px;
}

.main-items ul li span::before{


    display: block;
    content: '';
    width: 84.05px;
   background-color: #393F47;
    height: 1px;
    margin: 0 auto;
    transform: translateY(-15.91px);
    
}
.main-items img{
    display: block;
    width: 100%;
    border-radius: 15px;
}

.first-line {
    margin-bottom: 111px;
}

